/*Ошибка: использование именованных цветов */

.first {
    color: black;
}

/* Ошибка: отсутствует пустая строка между селекторами */

.sixth {
    color: #000;
}
.seventh {
    color: #fff;
}

/* Ошибка: пустая строка внутри селектора */

.second {
    color: #000;

    background-color: #fff;
}

/* Ошибка: повторяющиеся селекторы */

.third {
    color: #000;
}

.third {
    font-size: 16px;
}

/* Ошибка: селектор с низкой специфичностью следует за селектором с высокой специфичностью */

.fourth .fifth {
    color: #000;
}

.fifth {
    color: #fff;
}
